* {
	margin: 0;
	padding: 0;
}

.screen-banner {
	overflow: hidden;
	position: relative;
	top: 50px;
	width: 100%;
	/*height: 100%;*/
}

.all-screen {
	width: 100%;
	top: 0px;
	position: absolute;
	transition: top 0.5s;
}

.fixed {
	width: 100%;
	height: 50px;
	background: url(../image1/aboutxiaoniao/beader_bg.jpg);
	position: fixed;
}

.fix-inner {
	width: 1026px;
	height: 50px;
	margin: auto;
}

.logo {
	width: 132px;
	height: 50px;
	float: left;
}

.nav {
	height: 50px;
	margin-left: 40px;
	float: left;
}

.nav li {
	float: left;
	list-style: none;
	padding: 15px 20px;
	font-family: "STKaiti";
	color: rgba( 254, 254, 254, 0.702);
}

.screen-one1 {
	width: 1026px;
	/*height:100%;*/
	margin: auto;
	/*margin-top: 50px;*/
	overflow: hidden;
}

.xiaoniao {
	width: 260px;
	height: 260px;
	margin: auto;
}

.xiaoniao img {
	width: 100%;
	height: 100%;
}

.feicui {
	font-size: 44px;
	font-family: "STKaiti";
	color: rgb( 254, 254, 254);
	text-align: center;
	margin-top: 3px;
}

.school {
	font-size: 15.98px;
	font-family: "Arial";
	color: rgba( 255, 255, 255, 0.8);
	text-align: center;
}

.study {
	font-size: 48px;
	font-family: "STKaiti";
	color: rgb( 254, 254, 254);
	text-align: center;
}

.for {
	font-size: 20px;
	font-family: "STKaiti";
	color: rgb( 254, 254, 254);
	text-align: center;
	margin-top: 10px;
}

.next {
	width: 58px;
	height: 58px;
	margin: 20px auto;
	background: url(../image1/aboutxiaoniao/donext.png) no-repeat 0px -58px;
}

.gaishu {
	font-size: 54px;
	font-family: "STKaiti";
	color: rgb( 49, 24, 89);
	text-align: center;
	margin-top: 6px;
}

.gaishu-text {
	width: 760px;
	height: 80px;
	font-size: 18px;
	font-family: "STKaiti";
	color: rgb( 107, 106, 111);
	text-indent: 2em;
	position: relative;
	margin: auto;
}

.gaishu-text .span1 {
	display: inline-block;
	width: 20px;
	height: 18px;
	position: absolute;
	left: -65px;
	top: -16px;
}

.gaishu-text .span2 {
	left: 606px;
	top: 56px;
}

.four {
	width: 886px;
	height: 379px;
	margin: auto;
}

.four li {
	width: 191px;
	height: 379px;
	float: left;
	margin-right: 40px;
	list-style: none;
}

.four li:last-child {
	margin-right: 0;
}

.value {
	font-size: 46.83px;
	font-family: "STKaiti";
	color: rgb( 255, 255, 255);
	text-align: center;
	margin-top: 26px;
}

.yun {
	width: 920px;
	/*height: 468px;*/
	line-height: 30px;
	margin: auto;
	font-size: 16px;
	font-family: "KaiTi_GB2312";
	color: rgb( 113, 112, 116);
	text-indent: 2em;
	background: url(../image1/aboutxiaoniao/xuxian_bg.png);
}
.tool-box{
	width: 920px;
	margin: auto;
	font-size: 16px;
	font-family: "KaiTi_GB2312";
	color: rgb( 113, 112, 116);
	line-height: 30px;
	background: url(../image1/aboutxiaoniao/xuxian_bg.png);
}
.square {
	width: 1030px;
	height: 400px;
	margin-top: 40px;
	position: relative;
}

.border1 {
	position: absolute;
	left: 16px;
	top: 0;
	width: 20px;
	height: 20px;
}

.border2 {
	left: 973px;
}

.border3 {
	top: 360px;
}

.border4 {
	top: 360px;
	left: 973px;
}

.spuare1 {
	width: 360px;
	height: 74px;
	float: left;
	margin: 26px 77px;
}

.no1 {
	width: 74px;
	height: 74px;
	line-height: 74px;
	text-align: center;
	background: url(../image1/aboutxiaoniao/jiazhi_quanquan.png);
	font-size: 18px;
	font-family: "Arial";
	color: rgb( 254, 254, 255);
	float: left;
}

.no1-text {
	font-size: 18px;
	font-family: "STKaiti";
	color: rgb( 255, 255, 255);
	margin-top: 15px;
}

.screen-one1-top {
	width: 900px;
	height: 330px;
	margin: auto;
	margin-top: 20px;
}

.screen-left {
	width: 326px;
	height: 350px;
	float: left;
	position: relative;
}

.screen-left p {
	font-size: 17.405px;
	font-family: "STKaiti";
	color: rgb( 255, 255, 255);
	position: absolute;
	left: 71px;
	top: 12px;
}

.app {
	font-size: 16px;
	font-family: "STKaiti";
	color: rgba( 254, 254, 254, 0.702);
	float: left;
	margin-left: 30px;
	width: 300px;
	text-align: center;
	height: 350px;
	line-height: 350px;
}

.screen-one1-bottom {
	width: 480px;
	height: 150px;
	float: right;
}

.contact {
	width: 380px;
	height: 6px;
}

.mei {
	font-size: 23.207px;
	font-family: "STKaiti";
	color: rgb( 25, 25, 25);
}

.phone {
	font-size: 17.405px;
	font-family: "STKaiti";
	color: rgb( 25, 25, 25);
	margin-top: 20px;
}

.qq {
	font-size: 17.405px;
	font-family: "STKaiti";
	color: rgb( 25, 25, 25);
}

.place {
	font-size: 17.405px;
	font-family: "STKaiti";
	color: rgb( 25, 25, 25);
}